img(src=asset("img/cat1.jpg") alt="Catinho")
img(src=asset("img/cat2.jpg") alt="Outro catinho")
img(src=asset("img/cat3.jpg") alt="Mais um catinho")
img(src=asset("img/cat4.jpg") alt="E mais um catinho")
img(src=asset("img/cat5.jpg") alt="E outro catinho")
img(src=asset("img/weasel1.jpg") alt="Fuinha branca na floresta olhando para a câmera")
img(src=asset("img/weasel2.jpg") alt="Outra fuinha")
img(src=asset("img/weasel3.jpg") alt="Mais uma fuinha")
img(src=asset("img/capybara1.jpg") alt="Capivara de olhos fechados esfregando a cabeça em um gato")
img(src=asset("img/capybara2.png") alt="Capivara dormindo na terra com duas tartarugas e três patos em volta, e mais quatro patos em cima dela")
img(src=asset("img/capybara3.png") alt="Capivara caminhando com quatro macacos em cima")
