extends ../_layout.pug

block title
    title OH NO JOE!

block css
    link(href=asset("css/carousel.css"), rel="stylesheet")
    link(href=asset("css/parallax.css"), rel="stylesheet")
    link(href=asset("css/home.css"), rel="stylesheet")
    
block top-js

block content
    .frame
        h1.frame__title carrossel
        h2.frame__section com controles
        .carousel(with-controls)
            include _all-images.pug
        h2.frame__section com auto play
        .carousel(auto-play="5")
            include _all-images.pug
        h2.frame__section com auto play e controles
        .carousel(with-controls auto-play="5")
            include _all-images.pug
    .frame
        h1.frame__title botões
        .container.spotlight.flexbox.justify-content-space-evenly
            button.btn.--primary Primary
            button.btn.--secondary Secondary
            button.btn.--danger Danger
            button.btn.--warning Warning
            button.btn.--info Info
    .frame
        h1.frame__title alertas
        .container
            .alert.--primary
                h1.alert-title Olá!
                p.alert-message Eu sou um alerta comum, sem nenhum tipo de significado.
            .alert.--danger
                h1.alert-title Oops! :(
                p.alert-message Você fez algo muito errado. Tenha certeza de que a culpa é sua e não nossa. :)
            .alert.--warning
                h1.alert-title Atenção!
                p.alert-message Cuidado com o que você está fazendo. O horóscopo me disse pra alertar você hoje!
            .alert.--info
                h1.alert-title Aviso
                p.alert-message Detectamos que o seu computador não possui microfone nem câmera, e nosso site precisa que eles estejam funcionando.
    .frame.aria-hidden
        h1.frame__title flexbox
        h2.frame__section flex flow
        .container
            label.container-label flex-flow: column
            .flexbox.flow-column.frame.fixed-height
                .dashed-box.flex-2.flexbox.ai-c.jc-c flex: 2
                .dashed-box.collapse-top.flex-8.flexbox.ai-c.jc-c flex: 8
        .container
            label.container-label flex-flow: row
            .flexbox.flow-row.frame.fixed-height
                .dashed-box.flex-3.flexbox.ai-c.jc-c flex: 3
                .dashed-box.collapse-left.flex-5.flexbox.ai-c.jc-c flex: 5
        h2.frame__section flex grow
        .container.flexbox.flow-row.fixed-height
            .dashed-box.flex-1.flexbox.ai-c.jc-c flex: 1
            .dashed-box.collapse-left.flex-1.flexbox.ai-c.jc-c flex: 1
        .container.flexbox.flow-row.fixed-height
            .dashed-box.flex-1.flexbox.ai-c.jc-c flex: 1
            .dashed-box.collapse-left.flex-1.flexbox.ai-c.jc-c flex: 1
            .dashed-box.collapse-left.flex-1.flexbox.ai-c.jc-c flex: 1
        .container.flexbox.flow-row.fixed-height
            .dashed-box.flex-1.flexbox.ai-c.jc-c flex: 1
            .dashed-box.collapse-left.flex-1.flexbox.ai-c.jc-c flex: 1
            .dashed-box.collapse-left.flex-2.flexbox.ai-c.jc-c flex: 2
        h2.frame__section misturando flows
        .container
            .flexbox.flow-column.frame.fixed-height.dashed-box
                .dashed-border-bottom.flex-2.flexbox.ai-c.jc-c navbar
                .flex-9.flexbox.flow-row
                    .dashed-border-right.flex-3.flexbox.ai-c.jc-c sidebar
                    .flex-7.scroll-y
                        .frame
                            p.justified.padded
                                include _big-text.pug
    .frame
        h1.frame__title photo grid
        .container.image-gallery
            include _all-images.pug
    .frame
        h1.frame__title parallax simples
        p.frame__text Cuidado com o Chrome Mobile e o Mobile Safari, o CSS "background-attachment: fixed" não funciona!
        p.frame__text A alternativa é usar "position: fixed" e fixar manualmente a imagem para mobile.
        p.frame__text Estes exemplos não implementam isso :)
        h2.frame__section Capivara
        .frame.fixed-height.parallax(image=asset("img/capybara2.png") aria-label="Imagem de capivara dormindo na terra com duas tartarugas e três patos em volta, e mais quatro patos em cima dela")
        h2.frame__section Fuinha
        .frame.fixed-height.parallax(image=asset("img/weasel1.jpg") aria-label="Fuinha branca na floresta olhando para a câmera")

block bottom-js
    script(src=asset("js/carousel.js"))
    script(src=asset("js/parallax.js"))
    script(src=asset("js/home.js"))
    