.footer-list
    p.footer-list-caption Sobre nós
    ul
        li.footer-list-item
            a 
                i.material-icons.md-24 people
                | Nossa missão
        li.footer-list-item
            a 
                i.material-icons.md-24 gavel
                | Nossos valores
        li.footer-list-item
            a
                i.material-icons.md-24 school
                | Nossa história
        li.footer-list-item
            a
                i.material-icons.md-24 phone_in_talk
                | Entre em contato