.footer-text
    h1 Endereço
    p Rua Manoel Ribeiro Franco de Souza Gaspar Oliveira Silva, nº 1337
    a
        i.material-icons.md-24 map
        | Ver no mapa
.footer-list
    p.footer-list-caption Links interessantes
    ul
        li.footer-list-item
            a(href="http://www.rainymood.com/")
                i.material-icons.md-24 music_note
                | Barulho de chuva
        li.footer-list-item
            a(href="http://www.zoomquilt.org/")
                i.material-icons.md-24 zoom_in
                | Zoom infinito