.footer-list
    p.footer-list-caption Redes sociais
    ul
        li.footer-list-item
            a Facebook
        li.footer-list-item
            a Google+
        li.footer-list-item
            a Instagram
        li.footer-list-item
            a Twitter