doctype html

-
    function asset(url) {
        return baseUrl + url;
    }
    function url(url) {
        return baseUrl + url;
    }

block variables

html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        block title
            title Teste
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        block css
        block top-js
    body
        nav.navbar.flexbox.flow-row
            .navbar-heading
                a(href=url("home")) Projeto Frontend
            .navbar-items
                a.navbar-item(href=url("home") aria-label="Link para página inicial") Home
                button.navbar-item(data-action="back-to-top") Voltar ao topo
            .navbar-burger-container
                i.navbar-burger.material-icons.md-48 dehaze
        main
            block content
        footer.footer
            .footer-laptop
                .footer-section
                    include _footer-section-about.pug
                .footer-section
                    include _footer-section-social-media.pug
                .footer-doubled-section
                    include _footer-section-address.pug
            .footer-tablet
                .footer-section
                    include _footer-section-about.pug
                .footer-section
                    include _footer-section-social-media.pug
                .footer-section
                    include _footer-section-address.pug
            .footer-mobile
                .footer-section
                    include _footer-section-about.pug
                    include _footer-section-social-media.pug
                .footer-section
                    include _footer-section-address.pug
            .footer-bottom
                p Ecomp &copy; 2018. All rights reserved.
                
        block bottom-js
        script(src=asset("js/layout.js"))
        script(src=asset("js/accessibility.js"))
