@import url('https://fonts.googleapis.com/css?family=Roboto|Rancho');
@import 'variables';

html {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    &, &:hover, &:focus, &:active, &:visited {
        text-decoration: none;
    }
    &:hover {
        cursor: pointer;
    }
}

button {
    &, &:hover, &:active, &:focus {
        outline: none;
        background-color: transparent;
        border: none;
    }
}

* {
    user-select: none;
}

p {
    &.justified {
        text-align: justify;
    }
    &.padded {
        padding: 10px;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    flex-flow: column;
    align-items: flex-start;
    height: 100vh;
    overflow-y: scroll;
    background-color: $sidebar-background-color;
    transition: .4s ease;

    &.active {
        width: 60vw;
        transition: .4s ease;
    }
    &-item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        font-size: 13pt;

        &:first-child {
            margin-top: $navbar-height;
        }

        &, &:hover, &:active, &:visited {
            color: $sidebar-item-font-color;
        }
    }
    @include cellphone {
        display: flex;
        width: 0;
    }
    @include tablet {
        display: none;
    }
}
.navbar {
    background-color: $navbar-color;
    height: $navbar-height;
    display: flex;

    @if $navbar-fixed == true {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    } @else {
        width: 100vw;
    }

    &-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        
        @include cellphone {
            flex: 10;
        }
        @include tablet {
            flex: 3;
        }

        a, h1 {
            font-weight: 500;
            font-family: 'Rancho', cursive;
            font-size: 18pt;
            color: $navbar-heading-color;
        }
    }
    &-items {
        flex: 13;
        justify-content: flex-end;
        align-items: center;

        @include cellphone {
            display: none;
        }
        @include tablet {
            display: flex;
        }
    }
    &-item {
        @include cellphone {
            display: none;
        }
        @include tablet {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 12px;
            font-size: 11pt;
            color: $navbar-item-font-color;
            background-color: $navbar-item-background-color;
            transition: .2s linear;

            &:hover {
                color: $navbar-item-hovered-font-color;
                background-color: $navbar-item-hovered-background-color;
                cursor: pointer;
                transition: .2s linear;
            }
            &:active {
                color: $navbar-item-active-font-color;
                background-color: $navbar-item-active-background-color;
            }
        }
    }
    &-burger {
        &-container {
            color: $navbar-item-font-color;
            flex: 8;
            justify-content: flex-end;
            align-items: center;
            padding: 10px;

            @include cellphone {
                display: flex;
            }
            @include tablet {
                display: none;
            }
        }
    }
}

.footer {
    background-color: $footer-background-color;
    color: $footer-font-color;
    
    &-laptop, &-tablet, &-mobile {
        width: 100%;
    }
    &-section, &-doubled-section {
        padding-left: 15px;
        padding-top: 15px;
    }
    &-section {
        flex: 1;
    }
    &-doubled-section {
        flex: 2;
    }
    &-text {
        margin-bottom: 15px;

        h1, h2, h3, h4, h5, h6 {
            font-size: 11pt;
            font-weight: 400;
            margin: 0;
            margin-bottom: 10px;
        }
        p, button, a {
            margin: 0;
            font-size: 10pt;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            
            .material-icons {
                margin-right: 5px;
            }
        }
        button, a {
            &:hover {
                cursor: pointer;
            }
        }
        a {
            &, &:focus, &:active, &:visited {
                color: $footer-font-color;
            }
        }
    }
    &-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;
    }
    &-list {
        margin-bottom: 15px;

        &-caption, ul {
            padding: 0;
        }
        &-caption {
            font-size: 11pt;
            margin-bottom: 10px;
            margin-top: 0;
        }
        ul {
            list-style: none;
            margin-top: 0;
            margin-bottom: 0;
        }
        .footer-list-item {
            font-size: 10pt;
            padding-left: 10px;
            padding-top: 3px;
            background-color: $footer-list-item-background-color;

            &:hover {
                background-color: $footer-list-item-hovered-background-color;
                cursor: pointer;
            }
            &:active {
                background-color: $footer-list-item-active-background-color;
            }
            a, button {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .material-icons {
                    margin-right: 5px;
                }
            }
            a {
                &, &:visited, &:active, &:focus {
                    color: $footer-font-color;
                }
            }
        }
    }

    @include cellphone {
        &-laptop, &-tablet {
            display: none;
        }
        &-mobile {
            display: flex;
        }
    }
    @include tablet {
        &-laptop, &-mobile {
            display: none;
        }
        &-tablet {
            display: flex;
        }
    }
    @include laptop {
        &-tablet, &-mobile {
            display: none;
        }
        &-laptop {
            display: flex;
        }
    }
}

@if $navbar-fixed == true {
    body > main {
        margin-top: $navbar-height;
    }
}

.btn {
    background-color: white;
    color: black;
    font-size: 12pt;
    font-weight: bold;
    border-radius: 3px;
    padding: 7px 12px;
    text-align: center;
    transition: .2s ease;

    @include cellphone {
        padding: 10px 15px;
        font-size: 14pt;
    }

    &, &:hover, &:focus, &:active {
        outline: none;
        border: none;
    }
    &:hover {
        transition: .2s ease;
        cursor: pointer;
    }
    &:active {
        filter: brightness(95%);
        transition: .1s ease;
    }
    &.--primary {
        background-color: $button-primary;
        border: 2px solid $button-primary;
        color: $button-primary-font;

        &:hover {
            background-color: $button-primary-font;
            color: $button-primary;
        }
    }
    &.--secondary {
        background-color: $button-secondary;
        border: 2px solid $button-secondary;
        color: $button-secondary-font;

        &:hover {
            background-color: $button-secondary-font;
            color: $button-secondary;
        }
    }
    &.--danger {
        background-color: $button-danger;
        border: 2px solid $button-danger;
        color: $button-danger-font;

        &:hover {
            background-color: $button-danger-font;
            color: $button-danger;
        }
    }
    &.--warning {
        background-color: $button-warning;
        border: 2px solid $button-warning;
        color: $button-warning-font;

        &:hover {
            background-color: $button-warning-font;
            color: $button-warning;
        }
    }
    &.--info {
        background-color: $button-info;
        border: 2px solid $button-info;
        color: $button-info-font;

        &:hover {
            background-color: $button-info-font;
            color: $button-info;
        }
    }
}

.divider {
    padding: 15px;
    margin: 30px 0;
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 90%;
        border-bottom: 1px solid rgba(0,0,0,0.3);
        position: absolute;
        top: 50%;
        left: 5%;
    }
}

.container, .frame {
    &.fixed-height {
        height: 600px;
        
        @include cellphone {
            height: 400px;
        }
    }
    &-label {
        position: relative;
        top: -20px;
    }
}

.container {
    width: 80%;
    margin: 15px auto;
    padding: 30px 15px;

    @include cellphone {
        padding: 20px 0;
        width: 90%;
    }
}

.frame {
    width: 100%;

    &__title {
        text-transform: uppercase;
        padding: 15px;
        font-size: 26pt;
        font-weight: 600;
        font-family: 'Rancho', cursive;
    }
    &__text {
        margin: 0;
        padding: 0 20px;
        font-weight: 14pt;
        font-weight: 400;
    }
    &__section {
        text-transform: uppercase;
        padding: 15px;
        font-size: 20pt;
        font-weight: 400;
        font-family: 'Rancho', cursive;
    }
}

.flexbox {
    display: flex;
    flex-flow: wrap;

    @include cellphone {
        flex-flow: column;
    }
    &.flow {
        &-column {
            flex-flow: column;
        }
        &-column-reverse {
            flex-flow: column-reverse;
        }
        &-row {
            flex-flow: row;
        }
        &-row-reverse {
            flex-flow: row-reverse;
        }
        &-wrap {
            flex-flow: wrap;
        }
    }
    &.ai {
        &-c {
            align-items: center;
        }
        &-fs {
            align-items: flex-start;
        }
        &-fe {
            align-items: flex-end;
        }
    }
    &.jc {
        &-c {
            justify-content: center;
        }
        &-fs {
            justify-content: flex-start;
        }
        &-fe {
            justify-content: flex-end;
        }
        &-sa {
            justify-content: space-around;
        }
        &-sb {
            justify-content: space-between;
        }
        &-se {
            justify-content: space-evenly;
        }
    }
}

.image-gallery {
    @include cellphone {
        @include photo-grid (2);
    }

    @include tablet {
        @include photo-grid (3);
    }

    @include laptop {
        @include photo-grid (4);
    }

    @include _4k {
        @include photo-grid (5);
    }

    img {
        width: calc(100% - 1px);
        margin-bottom: 1px;
        border-radius: 5px;

        &:hover {
            filter: brightness(120%);
        }
    }
}

.float {
    &-left {
        float: left;
    }
    &-right {
        float: right;
    }
}

.clearfix {
    height: 0;
    width: 0;
    display: block;
    clear: both;
}

.dashed-box {
    border: 2px dashed rgba(0,0,0,0.6);

    &.collapse {
        &-top {
            border-top: none;
        }
        &-right {
            border-right: none;
        }
        &-bottom {
            border-bottom: none;
        }
        &-left {
            border-left: none;
        }
    }
}

.dashed {
    &-border {
        &-top {
            border-top: 2px dashed rgba(0,0,0,0.6);
        }
        &-right {
            border-right: 2px dashed rgba(0,0,0,0.6);
        }
        &-bottom {
            border-bottom: 2px dashed rgba(0,0,0,0.6);
        }
        &-left {
            border-bottom: 2px dashed rgba(0,0,0,0.6);
        }
    }
}

@for $i from 1 through 100 {
    .flex-#{$i} {
        flex: $i;
    }
}

.justify-content {
    &-center {
        justify-content: center;
    }
    &-space-evenly {
        justify-content: space-evenly;
    }
}

.scroll {
    &-y {
        overflow-y: scroll;
    }
    &-x {
        overflow-x: scroll;
    }
}

.spotlight {
    border: 2px dashed $primary;
    background-color: #fafafa;
}

.alert {
    background-color: #eee;
    border: 2px solid #ddd;
    border-radius: 3px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    color: #444;
    margin: 15px 0;

    &-title, &-message {
        margin: 0;
        padding: 0;
    }
    &-title {
        font-size: 16pt;
    }
    &-message {
        margin-top: 10px;
    }
    &-message:first-child {
        margin-top: 0;
    }
    &.--primary {
        background-color: $alert-primary;
        color: $alert-primary-font;
        border-color: $alert-primary;
    }
    &.--danger {
        background-color: $alert-danger;
        color: $alert-danger-font;
        border-color: $alert-danger;
    }
    &.--warning {
        background-color: $alert-warning;
        color: $alert-warning-font;
        border-color: $alert-warning-font;
    }
    &.--info {
        background-color: $alert-info;
        color: $alert-info-font;
        border-color: $alert-info-font;
    }
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
