@include keyframes (carousel-darken) {
	@for $i from 1 through 70 {
		$brightness: (100 - $i)#{'%'};
		#{$i}% {
			filter: brightness($brightness);
		}
	}
	100% {
		filter: brightness(30%);
	}
};

@include keyframes (carousel-lighten) {
	@for $i from 10 through 90 {
		$brightness: $i#{'%'};
		#{$i - 10}% {
			filter: brightness($brightness);
		}
	}
	100% {
		filter: brightness(100%);
	}
}
