@import 'variables';
@import 'carousel-animations';

.carousel {
    display: none;

    &-container, &-frame {
        background-color: #000;
        @include cellphone {
            height: 300px;
        }
        @include tablet {
            height: 350px;
        }
        @include laptop {
            height: 450px;
        }
        @include _4k {
            height: 800px;
        }
    }
    &-frame {
        width: 100vw;
        box-sizing: content-box;
        position: relative;
        overflow: hidden;
    }

    &-slide {
        display: inline-block;
        height: 100%;
        margin: auto;
        filter: brightness(30%);
        transform: scale(0.8, 0.8);
        
        &, img {
            position: absolute;
            z-index: 0;
            top: 0;
        }

        @include cellphone {
            width: 85%;
            left: 7.5%;
        }
        @include tablet {
            width: 70%;
            left: 15%;
        }
        @include laptop {
            width: 50%;
            left: 25%;
        }

        img {
            height: 100%;
            width: 100%;
            transform: translate(-15px, 0);
            transition: transform .7s ease, scale 2s ease, opacity .5s ease, filter .5s ease;
            opacity: 0;
        }
        &.left, &.center, &.right {
            img {
                opacity: 1;
            }
        }
        &.left {
            &, img {
                z-index: 1;
                filter: brightness(30%);
                // animation: carousel-darken .5s ease forwards;
            }
            img {
                transform: translate(-99%, 0px);
            }
        }
        &.center {
            &, img {
                z-index: 2;
                animation: carousel-lighten .5s ease forwards;
            }
            img {
                transform: scale(1.2, 1.2) translate(0, 0);
            }
        }
        &.right {
            &, img {
                z-index: 1;
                filter: brightness(30%);
                // animation: carousel-darken .5s ease forwards;
            }
            img {
                transform: translate(99%, 0px);
            }
        }
        &.animated-hover {
            &:hover {
                transition: .3s linear;
                cursor: pointer;
            }
        }
    }

    &-controls {
        height: 100%;
        width: 100%;
        position: relative;

        &__left-arrow, &__right-arrow {
            position: absolute;
            z-index: 3;
            height: 100%;
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: rgba(0,0,0,0.5);

            &:hover {
                background-color: rgba(0,0,0,0.65);
                cursor: pointer;
            }
            &:active {
                background-color: rgba(0,0,0,0.8);
            }
        }

        &__left-arrow {
            left: 0;
        }

        &__right-arrow {
            right: 0;
        }
    }
}
